Bem-vindo ao aluga temporada!

<%= link_to 'Cadastrar Imóvel', new_property_path %>

<% @properties.each do |property| %>
    <ul>
        <li><%= link_to property.title, property %></li>
        <li><%= property.description %></li>
        <li><%= property.property_type.name %></li>
        <li><%= property.room_quantity %></li>
        <li><%= property.daily_rate %></li>
    </ul>
<% end %>