<h1>Novo imóvel</h1>

<ul>
  <% @property.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= simple_form_for @property do |f| %>
  <div class="form-group">
    <%= f.input :title, label: 'Título' %>
  </div>
  <div class="form-group">
    <%= f.input :description, label: 'Descrição' %>
  </div>
  <div class="form-group">
    <%= f.association :property_type, label: 'Tipo do imóvel' %>
  </div>
  <div class="form-group">
    <%= f.association :region, label: 'Região' %>
  </div>
  <div class="form-group">
    <%= f.input :rent_purpose, label: 'Finalidade do imóvel' %>
  </div>
  <div class="form-group">
    <%= f.input :area, label: 'Área' %>
  </div>
  <div class="form-group">
    <%= f.input :room_quantity, label: 'Quantidade de cômodos' %>
  </div>
  <div class="form-check">
    <%= f.check_box :accessibility, class: 'form-check-input' %>
    <%= f.label :accessibility, 'Possui acessibilidade', class: 'form-check-label' %>
  </div>
  <div class="form-check">
    <%= f.check_box :allow_pets, class: 'form-check-input' %>
    <%= f.label :allow_pets, 'Aceita animais', class: 'form-check-label' %>
  </div>
  <div class="form-check">
    <%= f.check_box :allow_smokers, class: 'form-check-input' %>
    <%= f.label :allow_smokers, 'Aceita fumantes', class: 'form-check-label' %>
  </div>
  <div class="form-group">
    <%= f.input :maximum_guests, label: 'Ocupação máxima' %>
  </div>
  <div class="form-group">
    <%= f.input :minimum_rent, label: 'Mínimo de diárias' %>
  </div>
  <div class="form-group">
    <%= f.input :maximum_rent, label: 'Máximo de diárias' %>
  </div>
  <div class="form-group">
    <%= f.input :daily_rate, label: 'Valor da diária' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
  <% end %>
