<h1><%=  @property.title %></h1>
<p><%= @property.description %></p>
<h3>Descrição do imóvel</h3>
<ul>
  <%if (@property.photo.attached?)%>
    <%= image_tag @property.photo.variant(resize: "450x")  %>
  <%else%>
    <%= image_tag 'image-missing.png' %>
  <%end%>
  <li>Região: <%= @property.region.name %></li>
  <li>Tipo do imóvel: <%= @property.property_type.name %></li>
  <li>Finalidade do imóvel: <%= @property.rent_purpose %></li>
  <li>Área: <%= @property.area %>m²</li>
  <li>Quantidade de cômodos: <%= @property.room_quantity %></li>
  <li>Possui acessibilidade: <%= @property.accessibility? ? 'Sim' : 'Não' %></li>
  <li>Aceita animais: <%= @property.allow_pets? ? 'Sim' : 'Não' %></li>
  <li>Aceita fumantes: <%= @property.allow_smokers? ? 'Sim' : 'Não' %></li>
  <li>Ocupação máxima: <%= @property.maximum_guests %></li>
  <li>Mínimo de diárias: <%= @property.minimum_rent %></li>
  <li>Máximo de diárias: <%= @property.maximum_rent %></li>
  <li>Data(s) com Restrição
      <% if !@property.unavailable_ranges %>
        <li>Nenhuma data com restrição encontrada</li>
      <% else %>
        <% @property.unavailable_ranges.each do |range| %>
          <ul>
            <li>Data Inicial: <%= range.start_date.strftime('%d/%m/%Y') %></li>
            <li>Data Final: <%= range.end_date.strftime('%d/%m/%Y') %></li>
            <li>Descrição: <%= range.description %></li>
          </ul>
        <% end %>
      <% end %>
  </li>
  <li>Valor da diária: R$ <%= @property.daily_rate %></li>

  <% if user_signed_in? %>
    <%= link_to 'Enviar proposta', new_property_proposal_path(@property) %>
  <% end %>
  <% if realtor_signed_in? %>
    <%= link_to 'Adicionar restrição de Datas', new_property_unavailable_range_path(@property), class: 'btn btn-success' %>
  <% end %>
</ul>
