
<% @proposals.each do |proposal| %>
    <h1>Imovel: <%= link_to proposal.property.title, property_proposal_path(proposal.property, proposal)%></h1>
    <ul> 
        <li>Data de Entrada: <%= proposal.start_date.strftime('%d/%m/%Y') %></li>
        <li>Data de Saída: <%= proposal.end_date.strftime('%d/%m/%Y') %></li>
        <li>Motivo: <%= proposal.rent_proposal %></li>
        <li>Locatário: <%= proposal.user.name %></li>
        <li>Valor Total: <%= proposal.total_amount %></li>
    </ul>

<% end %>

